<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    {% if title %}
      <title>{% block title %}{% endblock %} - nscworklog </title>
    {% else %}
      <title>Welcome to nscworklog</title>
    {% endif %}

    {% block links %}
      <link rel="stylesheet" href="styles/main.css" >
    {% endblock %}
  </head>

  <body>
    <header>
      <nav>
      </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
    </footer>
  </body>
</html>
