* {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

body {
  background-image: url('../images/lp.jpg');
  background-size: cover;
  background-position-y: 45%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  height: 75px;
}

footer {
  margin-top: auto;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  margin: 15px 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 0 0 20px;
}

.right-nav {
  list-style: none;
  margin-right: -250px;
}

.right-nav li {
  display: inline;
  padding-left: 10px;
}

.right-nav li a {
  text-decoration: none;
  color: #fff;
}
