.worklogs-wrapper {
	padding: 15px 0;
	flex: 1;
	overflow-y: auto;
	height: 100%;
  padding-left: 10px;
	padding-right: 30px;
	margin-bottom: 0;
}

.add-worklog {
	margin-bottom: -13px;
}

.add-worklog .new-worklog {
	flex: 0 1 100%;
}

.plus-worklog {
	width: 100%;
	border: 1px solid #000;
	padding: 7px 10px;
	border-radius: 10px;
	padding-left: 10px;
}

.worklogs-list {
	list-style-type: none;
}

.worklogs {
	width: 100%;
	margin-bottom: -1px;
	padding: 7px 10px;
	border: 1px solid #000;
	border-radius: 10px;
	padding-left: 10px;
}

.worklogs:hover {
	transform: translate(2px);
}

.worklogs a {
	text-decoration: none;
  color: inherit;
}

.worklog-info {
	display: flex;
	flex-flow: column;
	width: 100%;
	padding: 7px 10px;
	border-radius: 10px;
}

.worklog-info dl {
  /* Styles for the dl element */
  margin: 0;
  padding: 0;
}

.worklog-info dl dt {
  /* Styles for the dt element */
  font-weight: bold;
  margin-top: 10px;
}

.worklog-info dl dd {
  /* Styles for the dd element */
  margin-left: 0;
  margin-bottom: 10px;
}

.button-container {
	width: 100%;
	text-align: center;
	
	padding: 10px 0;
	bottom: 10;
}

.delete-btn {
	float: left;
	margin-left: 40px;
	background-color: red;
	color: #fff;
	border-radius: 7px;
}

.edit-btn {
	float: left;
	background-color: #000;
	color: #fff;
	border-radius: 7px;
}
