.tasks-wrapper {
	padding: 15px 0;
	flex: 1;
	overflow-y: auto;
	height: 100%;
  padding-left: 10px;
	padding-right: 30px;
}

.add-task {
	display: flex;
	margin-bottom: 10px;
}

.add-task .new-task {
	flex: 0 1 100%;
}

.plus-task {
	display: block;
	width: 100%;
	outline: none;
	border: 1px solid #000;
	padding: 7px 10px;
	border-radius: 10px;
	padding-left: 10px;
	background: #fff;
}
