.worklogs-wrapper {
	padding: 15px 0;
	flex: 1;
	overflow-y: auto;
	height: 100%;
  padding-left: 10px;
	padding-right: 30px;
	margin-bottom: 0;
}

.add-worklog {
	margin-bottom: -13px;
}

.add-worklog .new-worklog {
	flex: 0 1 100%;
}

.plus-worklog {
	width: 100%;
	border: 1px solid #000;
	padding: 7px 10px;
	border-radius: 10px;
	padding-left: 10px;
}

.worklogs-list {
	list-style-type: none;
}

.worklogs {
	width: 100%;
	margin-bottom: -1px;
	padding: 7px 10px;
	border: 1px solid #000;
	border-radius: 10px;
	padding-left: 10px;
}

.worklogs:hover {
	transform: translate(2px);
}

.worklog-info {
	display: flex;
	flex-flow: column;
}

/* Basic styles for the description list (DL) */
dl {
  margin: 0;
  padding: 0;
}

/* Styles for the term (DT) element */
dt {
  font-weight: bold;
  margin: 0 0 0.5em 0; /* Top margin, no bottom margin */
  display: inline-block; /* Allow text wrapping if term is long */
  width: 120px; /* Optional: Set a fixed width for terms */
  text-align: right; /* Optional: Right-align terms */
}

/* Styles for the definition (DD) element */
dd {
  margin: 0 0 1em 15px; /* Indent definitions */
  padding: 0;
}

