<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if title %}
  <title>{{ title }} - nscworklog</title>
  {% else %}
  <title>nscworklog</title>
  {% endif %}

  {% block links %}
  <link rel="stylesheet" href="../static/styles/base.css">
  <link rel="stylesheet" href="../static/styles/lp.css">
  {% endblock %}
</head>

<body>
  <header>
    {% block nav %}{% endblock %}
  </header>

  {% block content %}{% endblock %}

  <footer>
    <p id="cpyrght">&copy; 2024 nscworklog. All rights reserved.</p>
  </footer>
</body>

</html>
