{% extends "base.html" %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="../static/styles/login-signup.css">
<link rel="stylesheet" href="../static/styles/base.css">
<link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
{% endblock %}

{% block nav %}
{% include "_nav-lp.html" %}
{% endblock %}

{% block content %}
<div class="wrapper">
  <h1>Register</h1>
  <form action="{{ url_for('register') }}" method="post">
    {{ form.hidden_tag() }}
    <div>
      {{ form.username() }}
      {% for error in form.username.errors %}
      <span style="color: #fff;">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.email() }}
      {% for error in form.email.errors %}
      <span style="color: #fff;">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.password() }}
      {% for error in form.password.errors %}
      <span style="color: #fff;">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.password_2() }}
      {% for error in form.password.errors %}
      <span style="color: #fff;">{{ error }}</span>
      {% endfor %}
    </div>
    <div>
      {{ form.submit(class="button") }}
    </div>
    <div class="member">
      Already have an account? <a href="{{ url_for('login') }}">
        Sign In
      </a>
    </div>
</div>
{% endblock %}
